.dom-resizer-hand {
  position: absolute;
  transition: all 200ms;

  &[data-position="left"]::after,
  &[data-position="right"]::after {
    content: '';
    display: block;
    padding: 0 5px;
    width: 100%;
    height: 100%;
    margin-left: -5px;
  }

  &[data-position="top"]::after,
  &[data-position="bottom"]::after {
    content: '';
    display: block;
    padding: 5px 0;
    width: 100%;
    height: 100%;
    margin-top: -5px;
  }

  &.is-resize,
  &:hover {
    transition-delay: 300ms;
    background-color: #0078d4;
  }
}
