/**
 * 暗黑主题
 *
 * @author Junpeng.Li
 * @date 2023-06-26 22:44
 */
.dbtu-theme-dark {

  --dbtu-font-color: #d1dbe4;
  --dbtu-font-color-light: #fff;
  --dbtu-font-color-minor: #6b6b6f;

  --dbtu-background-color: #2b2d30;
  --dbtu-background-color-dark: #1e1f22;
  --dbtu-hover-color: #383a3f;

  --dbtu-divide-borer-color: #1e1f22;
  --dbtu-border-color: #4e5157;
  --dbtu-border-radius: 2px;

  --dbtu-icon-text-gap: 5px;
}
