/**
 * 暗黑主题
 *
 * @author Junpeng.Li
 * @date 2023-06-26 22:44
 */
.dbtu-theme-dark {

  --dbtu-font-color: #d1dbe4;

  --dbtu-background-color: #2b2d30;
  --dbtu-hover-color: #383a3f;

  --dbtu-border-color: #1e1f22;
  --dbtu-border-radius: 4px;
}
