/**
 * light theme
 *
 * @author Junpeng.Li
 * @date 2023-06-26 22:44
 */
.dbtu-theme-light {

  --dbtu-font-color: #606266;
  --dbtu-font-color-light: #232823;
  --dbtu-font-color-minor: #aaa1aa;
  --dbtu-font-color-minor-01: #878787;
  --dbtu-font-color-disabled: #bdbdbd;

  --dbtu-background-color: #f2f2f2;
  --dbtu-background-color-dark: #fff;
  --dbtu-hover-color: #eaeaea;

  --dbtu-divide-borer-color: #d6d6d6;
  --dbtu-border-color: #d1d1d1;
  --dbtu-border-disabled-color: #d9d9d9;
  --dbtu-border-radius: 2px;

  --dbtu-icon-text-gap: 5px;
}
