/**
 * 亮色主题
 *
 * @author Junpeng.Li
 * @date 2023-06-26 22:44
 */
.dbtu-theme-light {

  --dbtu-font-color: #333a31;
  --dbtu-font-color-light: #232823;
  --dbtu-font-color-minor: #aaa1aa;

  --dbtu-font-size-large: 16px;

  --dbtu-background-color: #f2f2f2;
  --dbtu-background-color-dark: #fff;
  --dbtu-hover-color: #eaeaea;

  --dbtu-border-color: #d1d1d1;
  --dbtu-border-radius: 2px;

  --dbtu-icon-text-gap: 5px;
}
