.el-dialog {
  overflow: auto;

  .el-dialog__body {
    padding: 10px 20px 20px 20px;
  }

  &.el-dialog__header-no-padding {
    .el-dialog__header {
      padding: 0;
    }
  }

  &.el-dialog__body-no-padding {
    .el-dialog__body {
      padding: 0;
    }
  }
}

.el-input-number__text-left {
  &.is-without-controls .el-input__wrapper {
    padding-left: 11px;
    padding-right: 11px;
  }

  .el-input__inner {
    text-align: left;
  }
}

.el-select-dropdown {

  .el-select-dropdown__item {
    padding: 0 20px 0 15px;

    &.hover,
    &:hover {
      background-color: var(--dbtu-hover-color);
    }
  }
}

.el-table {
  color: var(--dbtu-font-color);

  --el-table-header-bg-color: var(--dbtu-background-color);
  --el-table-bg-color: var(--dbtu-background-color);
  --el-table-tr-bg-color: var(--dbtu-background-color);

  &--enable-row-hover .el-table__body tr:hover > td.el-table__cell {
    background-color: var(--dbtu-hover-color);
  }

  &:not(.el-table--border) .el-table--border::after,
  &:not(.el-table--border) .el-table--border::before,
  &:not(.el-table--border) .el-table--border .el-table__inner-wrapper::after,
  &:not(.el-table--border) .el-table__inner-wrapper::before {
    background-color: transparent;
  }

  thead {
    color: var(--dbtu-font-color);
  }

  &:not(.el-table--border) td.el-table__cell,
  &:not(.el-table--border) th.el-table__cell.is-leaf {
    border-bottom: none
  }

  .el-table__body tr.current-row > td.el-table__cell {
    background-color: var(--dbtu-hover-color);
  }

}

.el-message-box {
  background-color: var(--dbtu-background-color);
  border-radius: var(--dbtu-border-radius);
}

.el-button.is-link.is-loading {
  color: var(--dbtu-font-color-disabled);

  &:before {
    background-color: transparent;
  }
}
