.el-dialog {
  overflow: auto;

  .el-dialog__body {
    padding: 10px 20px 20px 20px;
  }

  &.el-dialog__header-no-padding {
    .el-dialog__header {
      padding: 0;
    }
  }

  &.el-dialog__body-no-padding {
    .el-dialog__body {
      padding: 0;
    }
  }
}

.el-input-number__text-left {
  &.is-without-controls .el-input__wrapper {
    padding-left: 11px !important;
    padding-right: 11px !important;
  }

  .el-input__inner {
    text-align: left !important;
  }
}
